.navbar {
  font-size: 2.75rem;
  font-weight: 400;
  color: var(--color-grey-light-4);
  border-bottom: 1px solid var(--color-grey-light-4);
  border-radius: 5px;
  margin-bottom: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    display: flex;
    flex-direction: column;

    & span {
      display: block;
    }

    font-size: 1.6rem;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:visited,
    &:link {
      color: var(--color-grey-light-4);
      text-decoration: none;
      padding: 0.9rem;

      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: var(--color-grey-light-0);
      border-top: 1px solid var(--color-grey-light-1);
    }
  }
}
