@media screen and (max-width: 960px) {
  .stats-input-form {
    flex-direction: column;
    align-items: center;
  }

  .enemy-input-form,
  .your-input-form {
    width: 70%;
  }

  .input {
    margin-right: 0%;
  }
}

@media screen and (max-width: 767px) {
  .enemy-input-form,
  .your-input-form {
    width: 80%;
  }
}

@media screen and (max-width: 625px) {
  .enemy-input-form,
  .your-input-form {
    width: 90%;
  }
}
