@media screen and (max-width: 1440px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .main-nav-tabs {
    width: 100%;
    justify-content: space-around;
  }

  .champ-selected {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
  }
  .champ-selected img {
    width: 40%;
  }

  .item {
    -webkit-box-flex: 0;
    flex: 0 1 51.2px;
  }

  .stats-input-form,
  .champion-stats-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 625px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .item {
    -webkit-box-flex: 0;
    flex: 0 1 44.8;
  }
  .enemy-input-form,
  .your-input-form,
  .champion-stats-table,
  .formulas-table {
    width: 100%;
  }

  .container {
    width: 95%;
    margin: 0 auto;
  }
}
