@media screen and (max-width: 1440px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .main-nav {
    flex-direction: column;
  }

  .main-nav-tabs {
    width: 100%;
    justify-content: space-around;
  }

  .champ-selected {
    flex: 0 0 25%;
  }
  .champ-selected img {
    width: 40%;
  }

  .item {
    flex: 0 1 51.2px;
  }

  .stats-input-form,
  .champion-stats-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 625px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .item {
    flex: 0 1 44.8;
  }
  .enemy-input-form,
  .your-input-form,
  .champion-stats-table,
  .formulas-table {
    width: 100%;
  }

  .container {
    width: 95%;
    margin: 0 auto;
  }
}
