/* CSS VARS */
:root {
  --darkGrey: #222;
  --textGrey: #9d9d9d;
  --borderTeal: rgba(10, 180, 180, 1);
}

p {
  color: var(--borderTeal);
  text-align: center;
}

table {
  width: 50%;
}

html {
  box-sizing: border-box;
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: 'Muli'; */
  font-family: 'Nanum Myeongjo';
  color: white;
}

img {
  opacity: 0.75;
  z-index: -1;
}

body {
  background-color: #2a4b7c;
  line-height: 1.4;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  border: 1px blue solid;
  background-color: var(--darkGrey);
}

/* Nav */
.main-nav {
  background: var(--darkGrey);
  border-radius: 5px;
}

.nav-header {
  float: left;
}

.main-nav ul {
  padding: 0;
  list-style-type: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav a {
  color: var(--textGrey);
  text-decoration: none;
  text-align: center;
  padding: 0.8rem;
  font-size: 1.4rem;
}

.main-nav a:hover {
  color: white;
}

/* Nav End */

/* stats containers */

.stats-container {
  row-gap: 50px;
  display: grid;
  grid-template-areas:
    'enemy-offense-stats'
    'enemy-defense-stats';
}

.enemy-offense-stats {
  grid-area: 'enemy-offense-stats';
  display: grid;
  grid-template-areas: 'stat-panel stat-panel stat-panel';
}

.enemy-defense-stats {
  grid-area: 'enemy-defense-stats';
  display: grid;
}

.stat-panel {
  grid-area: 'stat-panel';
  text-align: center;
  /* border: 1px solid white; */
  /* background: var(--darkGrey); */
}
.stat-panel-values {
  /* background-color: var(--darkGrey); */
  color: var(--textGrey);
}

.stat-panel-name {
  color: var(--borderTeal);
  border-bottom: 2px solid var(--borderTeal);
}

.stat-panel-input input {
  text-align: center;
  /* background-color: #2a4b7c; */
  background-color: var(--darkGrey);
  border: none;
  border-bottom: 2px solid var(--borderTeal);
}

/* stats containers end */

/* Formulas Container */
.formulas-container {
  display: grid;
  grid-template-areas: 'health-formulas dps-formulas';
}

.health-formulas {
  grid-area: 'health-formulas';
}

.dps-formulas {
  grid-area: 'dps-formulas';
}

.dps-formulas,
.health-formulas {
  text-align: center;
}

/* Formulas Container End */

/* .inputFields {
  text-align: center;
  margin-top: 1em;
  font-size: 1.25em;
  padding: 1em;
  width: 150px;
  width: 15em;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #222;
  color: white;
  outline: none;
} */
