/* CSS VARS */
:root {
  --darkGrey: #222;
  --textGrey: #9d9d9d;
  --teal: #0ab4b4;
}

/*
  ----------------
  BASIC SET UP
  ----------------
*/

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

html {
  color: #fff;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  background-color: var(--darkGrey);
}

.container {
  width: 75%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Myeongjo', Helvetica, Arial, sans-serif;
}

/*
  ----------------
  FORMS
  ----------------
*/

.stats-input-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  font-size: 100%;
  font-weight: 300;
  margin-bottom: 20px;
}

.enemy-input-form,
.your-input-form {
  padding: 2%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.input-row {
  height: 35px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.input {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
}

.input > input {
  background-color: var(--darkGrey);
  border: none;
  border-bottom: 1px solid var(--textGrey);
  border-radius: 5px;
  outline: none;
  color: #fff;
  text-align: center;
  width: 100%;
  box-shadow: 0px 0px 0px 1px transparent;
  -webkit-transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
}

.input > input:focus {
  box-shadow: 0px 0px 0px 2px var(--textGrey);
  border-bottom: none;
}
/*
  ----------------
  HEADER
  ----------------
*/
header {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 25px;
  overflow: hidden;
  padding-bottom: 1%;
  border-bottom: 1px solid var(--textGrey);
}

.main-nav {
  display: -webkit-box;
  display: flex;
  /* flex-direction: column; */
  -webkit-box-align: center;
  align-items: center;
}

.main-nav-logo {
  align-self: center;
  justify-self: center;
}

.main-nav-tabs {
  align-self: flex-start;
  /* flex: 0 0 100%; */
  width: 50%;
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.main-nav-tabs li {
  /* flex: 0 0 20%; */
}

.main-nav-tabs a,
.main-nav-logo a {
  color: var(--textGrey);
  text-decoration: none;
  text-align: center;
  font-size: 135%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.main-nav-tabs a:hover,
.main-nav-logo a:hover {
  color: white;
}

.active a {
  color: white;
}
/*
  ----------------
  CHAMPION and ITEMS
  ----------------
*/

.champ-and-items {
  -webkit-box-flex: 0;
  flex: 0 1 35%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.champ-selected {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 5px;
}

.champ-selected img {
  width: 50%;
  box-shadow: 0px 0px 0px 1px transparent;
  -webkit-transition: box-shadow 0.5s linear, -webkit-transform 0.5s;
  transition: box-shadow 0.5s linear, -webkit-transform 0.5s;
  transition: transform 0.5s, box-shadow 0.5s linear;
  transition: transform 0.5s, box-shadow 0.5s linear, -webkit-transform 0.5s;
}

.champ-selected img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 2px white;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.items-list {
  text-align: center;
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.item {
  -webkit-box-flex: 0;
  flex: 0 1 64px;
}

.item img {
  width: 100%;
  box-shadow: 0px 0px 0px 1px transparent;
  -webkit-transition: box-shadow 0.5s linear, -webkit-transform 0.5s;
  transition: box-shadow 0.5s linear, -webkit-transform 0.5s;
  transition: transform 0.5s, box-shadow 0.5s linear;
  transition: transform 0.5s, box-shadow 0.5s linear, -webkit-transform 0.5s;
}

.item img:hover {
  box-shadow: 0px 0px 0px 2px white;
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  cursor: pointer;
}

/*
  ----------------
  AUTO COMPLETE SUGGESTIONS
  ----------------
*/
.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  list-style: none;
  height: 36px;
  overflow-y: auto;
  -webkit-box-flex: 0;
  flex: 0 0 45%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.suggestions li {
  color: var(--textGrey);
  border: 1px solid var(--textGrey);
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  display: -webkit-box;
  display: flex;
}

.suggestion-name {
  align-self: center;
  font-size: 80%;
}

.suggestion-active:hover,
.suggestions li:hover,
.item-search-icon img:hover {
  color: white;
  cursor: pointer;
  font-weight: 300;
}

.item-search-icon {
  -webkit-box-flex: 0;
  flex: 0 0 34px;
  margin-right: 2%;
}

.item-search-icon img {
  width: 100%;
}

/*
  ----------------
  TABLES
  ----------------
*/

thead {
  justify-self: center;
  align-self: center;
  margin-bottom: 15px;
}

.champion-stats-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
}

.champion-stats-table,
.formulas-table {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 2%;
  font-size: 100%;
  font-weight: 300;
}

.champion-stats-table tbody tr,
.formulas-table tbody tr {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}

/*  */
/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px; */
/* background-color: white;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
} */
