body {
  font-family: sans-serif;
  /* background-color: #001f3f; */
  background-color: #2a4b7c;
  color: white;
}

ul {
  list-style-type: none;
}

.inputFields {
  text-align: center;
  margin-top: 1em;
  font-size: 1.25em;
  padding: 1em;
  /* width: 150px; */
  /* width: 15em; */
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #222;
  color: white;
  outline: none;
}

.label-input {
  display: block;
  /* text-align: center; */
}

.optimizer-button {
  background-color: #222;
}
