@import '../../../../base.scss';

.section-overview {
  display: flex;

  @media screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.table {
  padding: 1.5rem;
  flex: 0 0 50%;
  font-size: 2rem;

  // & caption {
  //   color
  // }

  & tr {
    & td {
      padding-bottom: 1rem;

      &:first-of-type {
        color: var(--color-grey-light-1);
      }
      &:last-of-type {
        color: var(--color-grey-light-4);
      }
    }
  }
}
