.suggestions {
  list-style: none;
  height: 3.4rem;
  overflow-y: auto;
  flex: 1;
  color: var(--color-grey-light-4);
  margin: 0 1rem;

  display: flex;
  flex-direction: column;

  & li {
    border: 1px solid var(--color-grey-light-4);
    flex: 1;

    display: flex;

    &:hover {
      color: var(--color-grey-light-1);
      cursor: pointer;
    }
  }
}

.suggestion {
  &__none {
    color: #999;
    padding: 0.5rem;
  }

  &__active:hover {
    color: var(--color-grey-light-1);
    cursor: pointer;
  }

  &__icon {
    flex: 0 0 3.4rem;
    margin: 0 1rem;

    & img {
      width: 100%;

      &:hover {
        color: var(--color-grey-light-1);
        cursor: pointer;
      }
    }
  }

  &__name {
    // align-self: center;
    font-size: 1.6rem;
  }
}
